<form action="../SCRIPT/cadastro.php" method="POST">
    <!-- 2 column grid layout with text inputs for the first and last names -->
    <div class="row mb-4">
      <div class="col">
        <div class="form-outline">
          <input type="name" id="nome" name="nome" class="form-control" />
          <label class="form-label" for="form3Example1">Seu nome</label>
        </div>
      </div>

    <!-- Email input -->
    <div class="form-outline mb-4">
      <input type="email" id="email" name="email" class="form-control" />
      <label class="form-label">E-mail</label>
    </div>

    <div class="form-outline mb-4">
      <input type="text" id="cpf" name="cpf" class="form-control" />
      <label class="form-label">CPF</label>
    </div>
  
    <!-- Password input -->
    <div class="form-outline mb-4">
      <input type="password" id="senha" name="senha" class="form-control" />
      <label class="form-label">Senha</label>
    </div>
  
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">Cadastrar</button>
</form>